:root 
{
    --header-color: #fff;
    --space-color: #101419;
    --accent-color: #F9B640;
    --text-color: #0f0b0b;
}

.page-logIn
{
    background-image: url(../img/main_image.png);
    background-position-x: right;
    background-size: 736px 800px;
}

.logIn
{
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card-body-logIn
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    padding: 50px 50px 100px 50px;
}

.inputer
{
    width: 500px;
    border-radius: 20px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body-logIn__checkbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#loginBtn
{
    
}

.group
{
    position:relative;
}

.group>label
{
    padding:0 0.2em;
    position:absolute;
    top:-0.5em;
    left:1em;
    background-color:white;
}
  
.group>input
{
    padding:0.8em;
    border-radius: 0.5em;
    border: 2px solid var(--accent-color);
    outline:none;
    width: 500px;
}

.inputs
{
    padding-top: 15px;
    padding-bottom: 15px;
}