.pulse, .bloc, .phone
{
    position: absolute;
    width: 300px;
    height: 300px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.bloc
{
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.pulse
{
    /* background: #5CC2E2; */
    background: #F9F5F2;
    position: relative;
    transition: .5s;
}

.phone
{
    font-size: 50px;
    line-height: 94px;
    animation: phone .9s ease-in-out infinite;
    /* padding-left: 30px;
    padding-top: 30px; */
}

/* .phone i
{
    transition: .5s ease-in-out;
} */

/* .pulse:hover i
{
    transition: .5s ease-in-out;
    transform: scale(0);
} */

/* .pulse:hover .text
{
    transform: scaleX(1);
    transition: .5s ease-in-out;
    opacity: 1;
} */

.pulse::before,
.pulse::after
{
    content: '';
    position: absolute;
    border: 1px solid #F9B640;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
}

.pulse::after
{
    animation-delay: .5s;
    /* animation-delay: move .5s infinite linear; */
}

@keyframes phone
{
    0%, 100%
    {
        transform: rotate(-20deg);
    }
    50%
    {
        transform: rotate(21deg);
    }
}

@keyframes pulse
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}

.logo
{
    width: 300px;
    height: 300px;
    border-radius: 80%;
}
























